.userInput {
    background-color: white;
    border-radius: 8px;
    width: 500px;
    margin: 5px;
    border: 0 solid black;
}

.loginTitle {
    text-align: center;
    padding: 80px 0 20px 0;
    font-size: 50px;
}

.loginForm {
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    width: 700px;
    margin: 0 auto;
    padding: 100px 0 150px 0;
}

.emptySpace {
    padding: 120px 0 250px 0;
}

.loginBtn {
    margin: 15px 5px 0 5px;
    padding: 10px;
}

.notMember {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.signUp {
    cursor: pointer;
    color: rgb(144, 178, 243);
    text-decoration: underline;
    margin-left: 2px;
}