.titleHeader {
  text-align: center;
  font-size: 50px;
}
.background {
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  width: 700px;
  margin: 0 auto;
}
.mainContent {
  text-align: center;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  margin: 25px;
  padding-bottom: 500px;
}

.nameInfo {
  display: flex;
  justify-content: space-around;
  padding: 200px 0;
}

.nameInfo label h4 {
  padding: 5px;
}

.tickets li {
  display: flex;
  justify-content: space-around;
}
.tickets span {
  font-weight: 700;
}
