.btnCtn {
    display: flex;
    align-items: center;
    color: #ffff;
    padding: 0 5em;
    margin: 0 0 2em 0;
}

.reviewList {
    display: flex;
    max-width: 850px;
    flex-direction: column;
    padding: 0 5em;
    margin: 1em 0 0 0;
}

.reviewItem_ctn {
    display: flex;
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    margin: 0 0 1em 0;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reviewItem_info {
    width: 80%;
    margin: 0 0 0 1em;
}

.reviewItem_rating {
    display: flex;
    align-items: center;
    margin: 0.2em 0;
}