.title {
    text-align: center;
    margin: 0 0 2em 0;
    color: #ffff;
}

.container {
    background-image: url("../../../src/components/Img/1066909-blue-background-wallpaper-1920x1200-high-resolution.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.loadmoreBtn {
    display: flex;
    margin: 0 auto;
}

.selectCtn {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}