@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Open sans";
}

.main {
    background-image: url("../src/components/Img/1066909-blue-background-wallpaper-1920x1200-high-resolution.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

#__next {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
}